.Post {
  background-color: #ffffff;
  /* border: 1px solid #dadadf; */
  border: 1px solid #010038;
  border-radius: 26px;
  margin-bottom: 16px;
  text-align: center;
}

.PostBar {
  /* background-color: #dadada; */
  /* background-color: #010038; */
  /* background-color: #f4890a; */
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #010038;
}

hr {
  /* border-color: #ffffff; */
  border-color: #f4890a;
}

.Link {
  color: #010038;
}


.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}

.custom-badge {
  background-color: #010038; /* Replace with your color */
  color: white;
}
